[access]
	inheritFrom = All-Projects
[access "refs/for/refs/*"]
	push = group ldap/opnfv-gerrit-availability-submitters
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group ldap/opnfv-gerrit-availability-submitters
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group ldap/opnfv-gerrit-availability-submitters
	submit = group ldap/opnfv-gerrit-availability-submitters
	forgeAuthor = group ldap/opnfv-gerrit-availability-contributors
	forgeCommitter = group ldap/opnfv-gerrit-availability-contributors
	forgeCommitter = group ldap/opnfv-gerrit-availability-submitters
	forgeAuthor = group ldap/opnfv-gerrit-availability-submitters
[access "refs/tags/*"]
	create = group ldap/opnfv-gerrit-availability-submitters
	push = group ldap/opnfv-gerrit-availability-submitters
	pushTag = group ldap/opnfv-gerrit-availability-submitters
	pushSignedTag = group ldap/opnfv-gerrit-availability-submitters
[project]
	description = High availability requirements of the OPNFV platform
